.header {
  height: 60px;
  display: flex;
  gap: 0px;
  padding: 10px 20px;
  border-bottom: 1px solid #ededed;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.header-title {
  font-size: 32.8px;
  font-style: italic;
  font-weight: 800;
  line-height: 39.7px;
  text-align: left;
  color: #0d3356;
}

.header-title_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
}

.profile-logo {
  width: 2rem;
  height: 2rem;
  background-color: #d1d5db;
  border-radius: 50%;
}
